# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/public/models/*

planner-wasm/

# Capacitor/Cordova
android/capacitor-cordova-android-plugins/
ios/Pods/
capacitor.config.json

# Android
android/.idea/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/key.properties
android/gradlew
android/gradlew.bat
!android/gradle.properties
!android/gradlew-wrapper.properties
!android/settings.gradle
!android/build.gradle
!android/app/build.gradle

# iOS
ios/.gradle/
ios/build/
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
