-- Performance indices for household sharing and pantry lookups
CREATE INDEX IF NOT EXISTS idx_pantry_household_id ON pantry(household_id);
CREATE INDEX IF NOT EXISTS idx_shopping_household_id ON shopping_list(household_id);
CREATE INDEX IF NOT EXISTS idx_users_household_id ON users(household_id);
CREATE INDEX IF NOT EXISTS idx_pantry_user_id ON pantry(user_id);
